<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'client')}">

<body>

  <h2>
    <th:block th:if="${pet['new']}">Novo </th:block>
    Produto
  </h2>
  <form th:object="${pet}" class="form-horizontal" method="post">
    <input type="hidden" name="id" th:value="*{id}" />
    <div class="form-group has-feedback">
      <div class="form-group">
        <label class="col-sm-2 control-label">Cliente</label>
        <div class="col-sm-10">
          <span th:text="${pet.client?.firstName + ' ' + pet.client?.lastName}" />
        </div>
      </div>
      <input
        th:replace="~{fragments/inputField :: input ('Nome', 'name', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Data Validade', 'birthDate', 'date')}" />
      <input
        th:replace="~{fragments/selectField :: select ('Tipo', 'type', ${types})}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button id="add-produto-cliente"
          th:with="text=${pet['new']} ? 'Adicionar produto' : 'Editar produto'"
          class="btn btn-default" type="submit" th:text="${text}">Add
          Pet</button>
      </div>
    </div>
  </form>

</body>

</html>
