<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'product')}">

<body>
<!--barCode-->
<!--name-->
<!--description-->
<!--lot-->
<!--productType-->
<!--expireDate-->
<h2>Produto</h2>
<!--<form th:object="${product}" class="form-horizontal" id="add-cliente-form" method="post">-->
<form class="form-horizontal" id="add-cliente-form" method="post">
    <div class="form-group has-feedback">
        <input
                th:replace="~{fragments/inputField :: input ('Código de barras', 'product.barCode', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Nome do produto', 'product.name', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Descrição', 'product.description', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Lote', 'lot.code', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Fornecedor', 'lot.suplier', 'text')}"/>
        <input
                th:replace="~{fragments/selectField :: select ('Tipo', 'product.productType', ${product_types})}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Data de validade', 'lot.expireDate', 'date')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Preço', 'lot.price', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Preço pago', 'lot.pricePaid', 'text')}"/>
        <input
                th:replace="~{fragments/inputField :: input ('Quantidade', 'lot.quantity', 'text')}"/>

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    th:with="text=${product['new']} ? 'Adicionar Produto' : 'Atualizar Produto'"
                    class="btn btn-default" type="submit" th:text="${text}">Adicionar Produto
            </button>
        </div>
    </div>
</form>
</body>
</html>
