<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'produto')}">

  <body>

    <h2>Produtos</h2>

    <table id="produto" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 200px;">Nome</th>
            <th style="width: 150px;">Código de barras</th>
            <th>Descrição</th>
            <th>Tipo de produto</th>
            <th>Quantidade</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="produto : ${selections}">
              <td>
                  <a th:href="@{/produtos/__${produto.id}__}" th:text="${produto.name}"/></a>
              </td>
              <td th:text="${produto.barCode}"/>
              <td th:text="${produto.description}"/>
              <td th:text="${produto.productType.name}"/>
              <td th:text="${produto.productsQUantity}"/>
          </tr>
        </tbody>
    </table>

  </body>
</html>
