<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'cliente')}">

<body>

  <h2>Encontrar Produto</h2>

  <form th:object="${product}" th:action="@{/produtos}" method="get"
    class="form-horizontal" id="search-produto-form">
    <div class="form-group">
      <div class="control-group" id="productNameGroup">
        <label class="col-sm-2 control-label">Nome do produto </label>
        <div class="col-sm-10">
          <input class="form-control" th:field="*{name}" size="30"
            maxlength="80" /> <span class="help-inline"><div
              th:if="${#fields.hasAnyErrors()}">
              <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
            </div></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button id="btn-product-search" type="submit" class="btn btn-default">Encontrar Produtos</button>
      </div>
    </div>

  </form>

  <br />
  <a class="btn btn-default" th:href="@{/produtos/novo}">Adicionar Produtos</a>

</body>
</html>
