<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'client')}">

  <body>
  
    <h2>Informação do Cliente</h2>
  
  
    <table class="table table-striped" th:object="${client}">
      <tr>
        <th>Nome</th>
        <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
      </tr>
      <tr>
        <th>Endereço</th>
        <td th:text="*{address}" /></td>
      </tr>
      <tr>
        <th>Cidade</th>
        <td th:text="*{city}" /></td>
      </tr>
      <tr>
        <th>Telefone</th>
        <td th:text="*{telephone}" /></td>
      </tr>
    </table>
  
    <a th:href="@{{id}/edit(id=${client.id})}" class="btn btn-default">Edit
      Cliente</a>
    <a th:href="@{{id}/pets/novo(id=${client.id})}" class="btn btn-default">Add
      Produto</a>
  
    <br />
    <br />
    <br />
    <h2>Produtos e visitas</h2>
  
    <table class="table table-striped">
  
      <tr th:each="pet : ${client.pets}">
        <td valign="top">
          <dl class="dl-horizontal">
            <dt>Nome</dt>
            <dd th:text="${pet.name}" /></dd>
            <dt>Data de validade</dt>
            <dd th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}" /></dd>
            <dt>Tipo</dt>
            <dd th:text="${pet.type}" /></dd>
          </dl>
        </td>
        <td valign="top">
          <table class="table-condensed">
            <thead>
              <tr>
                <th>Data da visita</th>
                <th>Descrição</th>
              </tr>
            </thead>
            <tr th:each="visit : ${pet.visits}">
              <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
              <td th:text="${visit?.description}"></td>
            </tr>
            <tr>
              <td><a
                th:href="@{{ownerId}/pets/{petId}/edit(ownerId=${client.id},petId=${pet.id})}">Editar produto</a></td>
              <td><a id="add-product-client"
                th:href="@{{ownerId}/pets/{petId}/visits/novo(ownerId=${client.id},petId=${pet.id})}">Efetuar compra</a></td>
            </tr>
          </table>
        </td>
      </tr>
  
    </table>
  
  </body>

</html>
