<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'cliente')}">

  <body>

    <h2>Clientes</h2>

    <table id="cliente" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Nome</th>
            <th style="width: 200px;">Endereço</th>
            <th>Cidade</th>
            <th style="width: 120px">Telefone</th>
            <th>Produtos</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="cliente : ${selections}">
              <td>
                  <a th:href="@{/clientes/__${cliente.id}__}" th:text="${cliente.firstName + ' ' + cliente.lastName}"/></a>
              </td>
              <td th:text="${cliente.address}"/>
              <td th:text="${cliente.city}"/>
              <td th:text="${cliente.telephone}"/>
              <td><span th:each="pet : ${cliente.pets}" th:text="${pet.name} "/></td>
          </tr>
        </tbody>
    </table>

  </body>
</html>
