<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'client')}">

<body>

  <h2>Cliente</h2>
  <form th:object="${client}" class="form-horizontal" id="add-cliente-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Primeiro Nome', 'firstName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Último Nome', 'lastName', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Endereço', 'address', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Cidade', 'city', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Telefone', 'telephone', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Data de nascimento', 'address', 'text')}"  />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${client['new']} ? 'Adicionar Cliente' : 'Atualizar Cliente'"
          class="btn btn-default" type="submit" th:text="${text}">Adicionar Cliente</button>
      </div>
    </div>
  </form>
</body>
</html>
